{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>

    <div class="container">

        {% block content %}
        {% for namespace in namespaces %}
        <div>
            <h1 class="namespace_name">{{ namespace.namespace_name }}</h1>
        </div>
        <hr>
        <div class="view_container">
          {% for view in namespace.views %}
              <div class="view_block">
                  <h2 class='view_name'>{{ view.view_name }}</h2>
                  {% if view.doc_string %}
                    <p class='view_doc_string'><q>{{ view.doc_string }}<q></p>
                  {% endif %}
                                        
                  <div class="http_url_block">
                    {% for url_path_data in view.urls_data  %}
                        <div class="http_url">
                            <div class="http_url_path">{{ url_path_data.url_full_path }}</div>
                            {% if url_path_data.url_name %}
                                <div class="http_url_name"><p>{{ url_path_data.url_name }}</p></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                  </div>

              </div>
              {% for method in view.view_methods %}
                  <div class="method_block">
                      <div class="http_method_block"><p class="http_method">{{ method.HTTP_method }}</p></div>
                      <div class="http_url_block">
                          {% if method.doc_string %}
                            <div class="http_url http_url_doc_string"><q>{{ method.doc_string }}</q></div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="request_data">
                    {% if method.http_data.expected_request_data is None %}
                      <div class='expected_request_data_block hide'><p class='expected_request_data'>Expected request data</p></div>
                    {% else %}
                      <div class='expected_request_data_block'><p class='expected_request_data'>Expected request data</p></div>
                    {% endif %}
                    <div class='expected_request_data_data hide'><pre>{{ method.http_data.expected_request_data }}</pre></div>
                  </div>
              <div class="status_container">
                {% for http_status in method.http_data.http_statuses %}
                      <div class="status_data">
                        <div class="status_block hide_request_data">
                          <div class="http_status_block"><p class="http_status">{{ http_status.expected_response_status_code }}</p></div>
                          {% if http_status.comment %}
                          <div class="status_comment"><q>{{ http_status.comment }}</q></div>
                          {% endif %}
                        </div>
                        <div class='status_response_data hide'><pre>{{ http_status.expected_response_data }}</pre></div>
                      </div>
                {% endfor %}
              </div>
              {% endfor %}
          {% endfor %}
        </div>
        {% endfor %}
        {% endblock content %}

    </div>


    <script src="{% static 'index.js' %}"></script>

</body>

</html>